<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>株式会社スマートテックベンチャーズ</key>
	<dict>
		<key>description</key>
		<string>アプリ開発を主とした会社です。</string>
		<key>latitude</key>
		<string>35.6236548</string>
		<key>longitude</key>
		<string>139.7248582</string>
	</dict>
</dict>
</plist>
