<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>914282347323-9cfdr14qq65vb8n1flhjsa85qsttogpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914282347323-9cfdr14qq65vb8n1flhjsa85qsttogpn</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7OkRTNN4p5g0ZEIWALRVpPFOs-0fIvo</string>
	<key>GCM_SENDER_ID</key>
	<string>914282347323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayoih.stv-project-2-5-8</string>
	<key>PROJECT_ID</key>
	<string>stv-project-2-5-8-ac898</string>
	<key>STORAGE_BUCKET</key>
	<string>stv-project-2-5-8-ac898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:914282347323:ios:cc8f40957a0fb918</string>
	<key>DATABASE_URL</key>
	<string>https://stv-project-2-5-8-ac898.firebaseio.com</string>
</dict>
</plist>
